{% extends 'base.html' %}

{% block title %}
Password Reset Request
{% endblock %}

{% block content %}

<div class="container register" style="width: 350px; margin-top: 100px;">
    <h5>Reset your password</h5>
    <form action="{{ url_for('auth.password_reset') }}" method="post" style="margin-top: 25px;">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group text-center" style="margin-top: 50px;">
            {{ form.submit(class="btn btn-primary btn-submit w-100") }}
        </div>
    </form>
</div>

{% endblock %}

{% block footer%}
<nav class="navbar nav-footer fixed-bottom" style="background-color: rgb(45,45,42);" id="footer-nav">
    <div class="container-fluid justify-content-center" style="max-height: 30%;">
        <ul class="mt-3">
            <li class="d-inline mr-3 " style="color: white; font-size: 16px;"> <a href="/about-us">About us</a> </li>
            <li class="d-inline mr-3 " style="color: white; font-size: 16px;"> <a href="/contact">Contact us</a> </li>
            <li class="d-inline mr-3 " style="color: white; font-size: 16px;"> <a href="/terms">Terms & Conditions</a>
            </li>
            <br>
            <li style="color: white; font-size: 16px;" class="centered-item mt-3">© 2024 uTasker™. All rights reserved.
            </li>
            <br>
        </ul>
    </div>
    <div class="container-fluid justify-content-end mr-4 mb-2">
        <a href="/" class="navbar-logo">
            <img src="../static/images/uTasker-Logo2.png" style="max-width: 48px;">
        </a>
    </div>
</nav>
{% endblock %}